body {
  font-family: 'Source Sans Pro';
}
.fa-twitter:before {
    content: "\f099";
}
.fa-twitter:after {
    content: "\f099";
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

li.nav-item {
  font-family: cursive;
    color: #b28431;
    font-size: 25px;
  font-weight: bolder;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: white;
}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}




/* Border*/
.Golden-bar {
    background-color: #b28431;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.Golden-bar-Footer{
    background-color: #b28431;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-bottom: 30px;
}
/* Map */

.map {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  padding-top: 20px;
  position:absolute;
}


.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}


/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}


a {
  color: #b28431;
}

a:hover, a:focus, a:active {
  color: #fff;
}
a:hover {
    color: #fff;
}

.btn-primary {
  background-color: #b28431 !important;
  border-color: #b28431 !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #fff !important;
  border-color: #fff !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}

.social-buttons .list-inline-items a {
  color: white;
  font-size: 200px;
}

.img-DR, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.about-left img {
    border: 20px solid #000;
}

/* Hours Section */
#hours{
  background-image: url('../img/studio_img_Fotor.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  justify-content: center;
}

.time-list-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px;
}

.time-item{
  list-style: none;
}

.time-container{
  display: flex;
  justify-content: center;
  background-color: #b28431 ;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  align-content: space-between;
}
.time-container .time{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.time-container-off{
  display: flex;
  justify-content: center;
  background-color: #343a40;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  align-content: space-between;
}

.time-container-off .time{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 1220px){
  .time-list-items{
    padding-top: 200px;
  }
}

@media only screen and (max-width: 690px) and (max-width: 768px){
  .time-list-items{
    padding: 3rem;
  }
}

@media only screen and (max-width: 531px){
  .time-list-items{
    padding: .5rem;
  }
}

@media only screen and (min-width: 769px){
   .time-list-items{
    padding: 6rem;
  }
}
/* Font of text*/
address#trumbull-city {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 900;
    text-shadow: #b28431;
    font-size: 20px;
    color: #b28431;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 30px;
    /* text-shadow: -1px -1px 0 #b28431, 1px -1px 0 #b28431, -1px 1px 0 #b28431, 1px 1px 0 #b28431; */
  }
h2.mt-4 {
    font-family: cursive;
    color: #b28431;
    font-weight: bolder;
    font-size: 50px;
}
/* About us*/
.col-md-7, .col-md-4{
    width: 58.33333333%;
    float: left;
    color:#b28431;
}
img.card-img {
    height: 100%;
    width: 65%;
}
.about-me {
    padding: 1em 2em;
    -webkit-box-shadow: -3px 7px 39px -5px rgba(0,0,0,0.38);
    -moz-box-shadow: -3px 7px 39px -5px rgba(0,0,0,0.38);
    box-shadow: -3px 7px 39px -5px rgba(0, 0, 0, 0.38);
}
button.button-about-us {
    border-radius: 8px;
    font-size: 25px;
    background-color: #000;
    border-color: #b28431;
}
.about_us_more-buttn {
    padding-top: 35px;
  padding-bottom: 35px;
}
section#contact {
    background-image: url("../img/hair_by_doris.jpg");
}
h4.mt-5 {
    color: #000;
    font-style: italic;
    padding-top: -2px;
}
p.description {
    color: #000;
}
/* Img for the serivces*/
img#hair_colouring {
    height: 262px;
}

/* GAllery Image*/
.gallery
{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}



/* Services */
.fusion-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 31px;
    overflow: hidden;
}
.fusion-title .title-sep-container{
  position: relative;
    height: 6px;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

}
.fusion-title.fusion-title-center {
    text-align: center;
}
.fusion-title .title-sep.sep-single {
    border-bottom-width: 1px;
}
.fusion-title.fusion-title-center .title-heading-center {
    padding: 0 45px;
    font-family: cursive;
    color:#b28431;
    font-weight: bolder;
}

.fusion-title .title-sep {
    position: relative;
    display: block;
    width: 100%;
    border-style: solid;
    border: 0 solid #e7e6e6;
    box-sizing: content-box;
}
.fusion-title .title-sep-container {
    position: relative;
    height: 6px;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.fusion-title.title.fusion-title-center.fusion-title-size-two {
    padding-top: 40px;
}


/*Serivces Area*/
.col-lg-4.col-sm-6.portfolio-item {/* Row colum in serivces*/
    padding-bottom: 20px;
}

td {
    font-weight: bolder;
    font-size: 25px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.color-price { /*Table with Prices*/
    padding-left: 49px;
    padding-right: 49px;
    font-family:cursive;
}
.haircut-price { /*Table with Prices*/
    padding-left: 49px;
    padding-right: 49px;
    font-family:cursive;
}
.hair-foiled-price{
  padding-left: 49px;
  padding-right: 49px;
  font-family:cursive;
}
.hair-styled-price{
  padding-left: 49px;
  padding-right: 49px;
  font-family:cursive;
}
.Hair-extension-price
{ /*Table with Prices*/
    padding-left: 49px;
    padding-right: 49px;
    font-family:cursive;
}

h4#color-serivces {
    color: #b28431;
    font-family: cursive;
    font-size: 29px;
    font-weight: bold;
}
h4#haircut {
    color: #b28431;
    font-family: cursive;
    font-size: 29px;
    font-weight: bold;
}
h4#hair-rehab{
  color: #b28431;
  font-family: cursive;
  font-size: 29px;
  font-weight: bold;
}
h4#Hair-foiled{
  color: #b28431;
  font-family: cursive;
  font-size: 29px;
  font-weight: bold;
}
h4#Hair-Styled{
  color: #b28431;
  font-family: cursive;
  font-size: 29px;
  font-weight: bold;
}
h4#Hair-extension{
  color: #b28431;
  font-family: cursive;
  font-size: 29px;
  font-weight: bold;
}

div#carouselExampleIndicators1 {
    padding-top: 20px;
    padding-bottom: 52px;
    background-color:#fff !important;
}
div#carouselExampleIndicators2{
  padding-top: 20px;
    padding-bottom: 52px;
    background-color:#fff !important;
}
img.card-img-gal {
    height: 402px;
    width: 302px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
/* Footer */
footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #b28431;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}
.footer fusion-area {
    overflow: hidden;
    position: relative;
    padding: 43px 10px 40px;
    border-top: 12px solid #e9eaee;
    background: #363839;
    color: #8c8989;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

